In [34]:
import pandas as pd 
import os

In [35]:
PATH = os.path.join('..','data','raw','homicidios.xlsx')

In [86]:
PATH_LESIONES = os.path.join('..','data','raw','lesiones.xlsx')

In [36]:
hechos = pd.read_excel(PATH,sheet_name='HECHOS')

In [48]:
victimas = pd.read_excel(PATH,sheet_name='VICTIMAS')

In [87]:
lesiones_hechos = pd.read_excel(PATH_LESIONES,sheet_name='HECHOS')
lesiones_victimas= pd.read_excel(PATH_LESIONES,sheet_name='VICTIMAS')

In [37]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [41]:
hechos.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [42]:
hechos.sample(10)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
671,2021-0073,1,2021-09-18,2021,9,18,12:20:00,12,"DEL LIBERTADOR AV. Y AGOTE, LUIS DR.",AVENIDA,...,NaN,"AGOTE, LUIS DR.","DEL LIBERTADOR AV. y AGOTE, LUIS DR.",2,Point (106366.2976627 105013.87298990),-58.39391034,-34.58405348,BICICLETA-AUTO,BICICLETA,AUTO
441,2019-0024,1,2019-03-19,2019,3,19,1900-01-14 07:12:00,7,ANTARTIDA ARGENTINA AV. 1325,AVENIDA,...,1325.0,NaN,ANTARTIDA ARGENTINA AV. 1325,1,Point (108368.93688513 104860.74716674),-58.37208118,-34.58541957,MOTO-CARGAS,MOTO,CARGAS
505,2019-0089,1,2019-10-23,2019,10,23,15:45:00,15,"BROWN, ALTE. AV. Y BLANES, JUAN MANUEL",AVENIDA,...,NaN,"BLANES, JUAN MANUEL","BROWN, ALTE. AV. y BLANES, JUAN MANUEL",4,Point (109247.85081573 99794.76658137),-58.36244648,-34.63107887,PEATON-CARGAS,PEATON,CARGAS
348,2018-0074,1,2018-07-14,2018,7,14,06:04:00,6,AV. JUAN B. ALBERDI 2968,AVENIDA,...,2968.0,NaN,"ALBERDI, JUAN BAUTISTA AV. 2968",7,Point (99438.84176266 99501.28380301),-58.46941984,-34.63376545,AUTO-CARGAS,AUTO,CARGAS
429,2019-0012,1,2019-02-17,2019,2,17,03:16:00,3,"CASTAÑARES AV. Y GORDILLO, TIMOTEO",AVENIDA,...,NaN,"GORDILLO, TIMOTEO","CASTAÃ‘ARES AV. y GORDILLO, TIMOTEO",8,Point (98072.98959434 94742.80804806),-58.48432691,-34.67665828,MOTO-AUTO,MOTO,AUTO
491,2019-0075,1,2019-08-30,2019,8,30,23:20:00,23,SAN ANTONIO Y LUJAN,CALLE,...,NaN,LUJAN,SAN ANTONIO y LUJAN,4,Point (108029.19662631 97048.95529785),-58.37571078,-34.65584079,MOTO-PASAJEROS,MOTO,PASAJEROS
31,2016-0044,1,2016-03-31,2016,3,31,19:40:00,19,AV JOSE MARIA MORENO Y BALBASTRO,AVENIDA,...,NaN,BALBASTRO,"MORENO, JOSE MARIA AV. y BALBASTRO",7,Point (102857.73817324 99148.76714504),-58.43213235,-34.63693953,MULTIPLE,MOTO,MULTIPLE
690,2021-0092,1,2021-12-12,2021,12,12,06:20:00,6,AV. RIVADAVIA Y AV. PUEYRREDON,AVENIDA,...,NaN,PUEYRREDON AV.,RIVADAVIA AV. y PUEYRREDON AV.,3,Point (105258.35368554 102122.93231400),-58.40596860,-34.61011987,PEATON-AUTO,PEATON,AUTO
592,2020-0073,1,2020-12-20,2020,12,20,07:40:00,7,27 DE FEBRERO AV. Y ESCALADA AV.,AVENIDA,...,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
584,2020-0065,1,2020-12-05,2020,12,5,16:00:00,16,"PAZ, GRAL. AV. Y GOYENECHE, ROBERTO PARQUE AV.",GRAL PAZ,...,NaN,"GOYENECHE, ROBERTO PARQUE AV.","PAZ, GRAL. AV. y GOYENECHE, ROBERTO PARQUE AV.",12,Point (97243.88021302 108974.21974638),-58.49332664,-34.54836855,MOTO-AUTO,MOTO,AUTO

In [45]:
hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [44]:
hechos[hechos['Calle'].isnull()]

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,...,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD

## Victimas

In [50]:
victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [52]:
victimas.sample(10)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
375,2018-0086,2018-08-10,2018,8,10,PEATON,PEATON,MASCULINO,40,2018-08-10 00:00:00
436,2019-0002,2019-01-09,2019,1,9,CONDUCTOR,AUTO,MASCULINO,32,2019-01-09 00:00:00
483,2019-0047,2019-06-06,2019,6,6,PEATON,PEATON,MASCULINO,76,2019-06-06 00:00:00
56,2016-0078,2016-06-13,2016,6,13,CONDUCTOR,MOTO,MASCULINO,30,SD
617,2020-0077,2020-12-25,2020,12,25,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,24,2020-12-25 00:00:00
110,2016-0138,2016-10-27,2016,10,27,CICLISTA,BICICLETA,FEMENINO,33,SD
169,2017-0031,2017-03-11,2017,3,11,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,70,2017-03-11 00:00:00
202,2017-0067,2017-05-23,2017,5,23,CONDUCTOR,MOTO,MASCULINO,21,2017-05-23 00:00:00
48,2016-0067,2016-05-21,2016,5,21,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,30,SD
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00

In [59]:
victimas[victimas['ROL'] == 'SD']

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD
63,2016-0085,2016-06-29,2016,6,29,SD,MOTO,MASCULINO,SD,SD
77,2016-0101,2016-08-07,2016,8,7,SD,SD,MASCULINO,67,SD
89,2016-0115,2016-09-02,2016,9,2,SD,SD,MASCULINO,SD,SD
141,2016-0174,2016-12-27,2016,12,27,SD,SD,SD,SD,SD
167,2017-0029,2017-03-07,2017,3,7,SD,SD,MASCULINO,34,2017-03-07 00:00:00
208,2017-0074,2017-06-04,2017,6,4,SD,SD,MASCULINO,70,2017-06-04 00:00:00
221,2017-0089,2017-07-13,2017,7,13,SD,SD,MASCULINO,23,SD
280,2017-0155,2017-12-12,2017,12,12,SD,SD,MASCULINO,77,SD
390,2018-0100,2018-09-20,2018,9,20,SD,MOTO,FEMENINO,33,2018-09-20 00:00:00

In [84]:
victimas['EDAD'].replace('SD', 0).sort_values().unique()

array([ 0,  1,  4,  5,  7, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
       57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73,
       74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 92,
       95])

## Lesiones

In [89]:
lesiones_hechos.isna().sum()

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                         0
franja_hora                  5
direccion_normalizada       53
comuna                     169
tipo_calle                   0
otra_direccion               0
calle                    10918
altura                   11014
cruce                    14378
geocodificacion_CABA        39
longitud                   262
latutid                    262
victima                      0
acusado                      0
participantes                0
moto                        93
auto                        93
transporte_publico          93
camion                      93
ciclista                    93
gravedad                     0
dtype: int64

In [95]:
lesiones_hechos[(lesiones_hechos['franja_hora'].isna()) | (lesiones_hechos['hora']=='sd') ]

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
17372,LC-2021-0038668,1,2021,1,26,2021-01-26 00:00:00,sd,NaN,"ESCALADA DE SAN MARTIN, R. y MERCEDES",SD,...,SD,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,GRAVE
17916,LC-2021-0098397,1,2021,3,4,2021-03-04 00:00:00,sd,NaN,27 DE FEBRERO AV. y ESCALADA AV.,SD,...,SD,PEATON,AUTO,PEATON-AUTO,0,x,0,0,0,GRAVE
17947,LC-2021-0100636,1,2021,3,5,2021-03-05 00:00:00,sd,NaN,GARCIA DEL RIO AV. y MOLDES,SD,...,SD,PEATON,AUTO,PEATON-AUTO,0,x,0,0,0,GRAVE
18603,LC-2021-0166702,1,2021,4,10,2021-04-10 00:00:00,sd,NaN,"CALZADILLA, SANTIAGO 1350",SD,...,SD,AUTO,OBJETO FIJO,AUTO-OBJETO FIJO,0,x,0,0,0,GRAVE
18975,LC-2021-0208169,1,2021,5,6,2021-05-06 00:00:00,sd,NaN,CULLEN 5075,SD,...,SD,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,SD

In [118]:
lesiones_hechos[~lesiones_hechos['hora'].astype(str).str.contains(':', case=False)]

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
1462,PFA-2019-0000120,1,2019,2,26,2019-02-26 00:00:00,SD,sd,SAN JUAN AV. 1941,NaN,...,NaN,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
9039,PFA-2019-0000301,1,2019,11,4,2019-11-04 00:00:00,SD,sd,ANTARTIDA ARGENTINA AV. 1200,NaN,...,NaN,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
9928,PNA-2019-0005246,0,2019,12,20,2019-12-20 00:00:00,SD,sd,27 DE FEBRERO AV. 6300,NaN,...,NaN,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
17372,LC-2021-0038668,1,2021,1,26,2021-01-26 00:00:00,sd,NaN,"ESCALADA DE SAN MARTIN, R. y MERCEDES",SD,...,SD,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,GRAVE
17916,LC-2021-0098397,1,2021,3,4,2021-03-04 00:00:00,sd,NaN,27 DE FEBRERO AV. y ESCALADA AV.,SD,...,SD,PEATON,AUTO,PEATON-AUTO,0,x,0,0,0,GRAVE
17947,LC-2021-0100636,1,2021,3,5,2021-03-05 00:00:00,sd,NaN,GARCIA DEL RIO AV. y MOLDES,SD,...,SD,PEATON,AUTO,PEATON-AUTO,0,x,0,0,0,GRAVE
18603,LC-2021-0166702,1,2021,4,10,2021-04-10 00:00:00,sd,NaN,"CALZADILLA, SANTIAGO 1350",SD,...,SD,AUTO,OBJETO FIJO,AUTO-OBJETO FIJO,0,x,0,0,0,GRAVE
18975,LC-2021-0208169,1,2021,5,6,2021-05-06 00:00:00,sd,NaN,CULLEN 5075,SD,...,SD,MOTO,AUTO,MOTO-AUTO,x,x,0,0,0,SD
20916,LC-2021-0448511,1,2021,8,23,2021-08-23 00:00:00,SD,sd,SD,SD,...,SD,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD

In [92]:
lesiones_hechos.sample(10)

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
17981,LC-2021-0104974,2,2021,3,8,2021-03-08 00:00:00,17:49:00,17,"DE LA TORRE, LISANDRO AV. 2343",9,...,-34.661983848174,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
22169,LC-2021-0520935,1,2021,10,20,2021-10-20 00:00:00,17:05:00,17,"LACROZE, FEDERICO AV. y ZAPATA",13,...,-34.570848185216,MOTO,MOTO,MOTO-MOTO,x,0,0,0,0,SD
22069,LC-2021-0514543,1,2021,10,16,2021-10-16 00:00:00,10:30:00,10,LAS HERAS GENERAL AV. y AYACUCHO,2,...,-34.590936270693,PEATON,AUTO,PEATON-AUTO,0,x,0,0,0,SD
20853,LC-2021-0423088,1,2021,8,20,2021-08-20 00:00:00,11:15:00,11,NAZCA 5157,12,...,-34.582414371516,MOTO,OBJETO FIJO,MOTO-OBJETO FIJO,x,0,0,0,0,SD
2161,LC-2019-0179730,1,2019,3,23,2019-03-23 00:00:00,15:26:00,15,SD,8,...,-34.684785,SD,SD,SD-SD,x,SD,SD,SD,SD,SD
12676,LC-2020-0223831,1,2020,5,1,2020-05-01 00:00:00,08:45:00 p.m.,20,BARCO CENTENERA DEL 3100,4,...,-34.651579005680,AUTO,SD,AUTO-SD,0,x,0,0,0,SD
3447,LC-2019-0270845,1,2019,5,1,2019-05-01 00:00:00,06:20:00,6,SD,13,...,-34.561395,SD,SD,SD-SD,x,SD,SD,SD,SD,SD
7687,LC-2019-0584267,1,2019,9,17,2019-09-17 00:00:00,18:10:00,18,SD,10,...,-34.610419,SD,SD,SD-SD,SD,SD,SD,SD,x,SD
18511,LC-2021-0154402,3,2021,4,6,2021-04-06 00:00:00,09:00:00,9,ALBARIÃ‘O y RIESTRA AV.,8,...,-34.671618175496,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
10231,LC-2020-0125686,1,2020,2,27,2020-02-27 00:00:00,11:00:00 a.m.,11,TINOGASTA y QUEVEDO,11,...,-34.613176115353,CICLISTA,AUTO,CICLISTA-AUTO,0,x,0,0,x,SD

## lesiones victimas

In [123]:
lesiones_victimas.sample(10)

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
26371,LC-2021-0574686,2021,11,17,2021-11-17,MOTO,Varon,26,SD
18396,LC-2020-0617585,2020,11,17,2020-11-17,MOTO,Varon,63,sd
7767,LC-2019-0488264,2019,8,7,2019-08-07,sd,Varon,41,SD
21486,LC-2021-0463280,2021,9,1,2021-09-01,MOTO,Varon,52,SD
4683,LC-2019-0303704,2019,5,14,2019-05-14,sd,Varon,30,SD
3479,LC-2019-0233288,2019,4,14,2019-04-14,sd,Mujer,30,SD
16732,LC-2020-0669332,2020,12,21,2020-12-21,SD,Varon,43,sd
12269,LC-2020-0583220,2020,10,26,2020-10-26,MOTO,Varon,43,sd
26546,LC-2021-0337606,2021,7,17,2021-07-17,MOTO,Varon,38,SD
9431,LC-2019-0603774,2019,9,26,2019-09-26,sd,Mujer,35,SD

In [143]:
lesiones_victimas['EDAD_VICTIMA'].replace('SD', 0).replace('sd', 0).astype(int).sort_values().unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97, 100])

In [144]:
lesiones_victimas['GRAVEDAD'].value_counts()

GRAVEDAD
SD       20722
sd        6346
GRAVE      536
grave        1
Name: count, dtype: int64

In [149]:
lesiones_victimas['AAA'].unique()
lesiones_victimas['MM'].unique()
lesiones_victimas['DD'].sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])